# AutobahnTestSuite dependencies for Python 2.7 / Autobahn 0.10.9

setuptools           # pip/setuptools from pre-2020 era
txaio
incremental         # must pin because of use of typing
pyOpenSSL
cryptography          # last version supporting Python 2 and OpenSSL 1.1
Twisted            # pin Twisted 19.10.0; 20.3.0 triggers bad incremental
zope.interface        # Twisted dependency compatible with 2.7
jinja2
markupsafe
Werkzeug
klein              # last pre-Python3-only Klein
pyopenssl
service_identity
unittest2
six
autobahn[twisted,accelerate]
